asteval==0.9.29
contourpy==1.0.7
cycler==0.11.0
fonttools==4.39.3
future==0.18.3
kiwisolver==1.4.4
lmfit==1.1.0
matplotlib==3.7.1
numpy==1.24.2
packaging==23.0
Pillow==9.5.0
polars==0.16.18
pyparsing==3.0.9
PySide6==6.5.0
PySide6-Addons==6.5.0
PySide6-Essentials==6.5.0
python-dateutil==2.8.2
scipy==1.10.1
shiboken6==6.5.0
six==1.16.0
typing_extensions==4.5.0
uncertainties==3.1.7
